{% macro render_blog_post(post, from_index=false) %}
  <h1 class="page-title post-title">
      <div class="page-title__text post-title__text">{{ post.title }}</div>
      <div class="page-title__subtitle post-title__subtitle"> </div>
  </h1>
  <div class="content">
    {{ post.body }}
  </div>
  <div class="about">
    <div class="about__devider">*****</div>
    <div class="about__text">
      written by
      {% if post.twitter_handle %}
      <strong><a href="https://twitter.com/{{ post.twitter_handle }}">{{ post.author or post.twitter_handle }}</a></strong>
      {% else %}
      <strong>{{ post.author }}</strong>
      {% endif %}
      on <strong>{{ post.pub_date }}</strong>
    </div>
  </div>
{% endmacro %}
